<template>
	<lightning-card>
		<button class="slds-button slds-button_brand" onclick={getSelectedRows}>Add Products</button>
		<div class="slds-scrollable tableCustom">
			<div class="slds-m-top_medium slds-m-bottom_x-large">	
				<!-- Simple -->
				<template if:false={active}>
					<div class="slds-p-around_medium lgc-bg">
						<lightning-tree-grid
							class = "lgc-example-treegrid"
							columns={gridColumns}
							data={gridData}
							key-field="ProductCode"
						></lightning-tree-grid>
					</div>
				</template>
				<template if:true={active}>
					<div class="slds-p-around_medium lgc-bg">
						<lightning-tree-grid
							class = "lgc-example-treegrid"
							columns={gridColumns}
							data={gridData}
							key-field="ProductCode"
							hide-checkbox-column = true
						></lightning-tree-grid>
					</div>
				</template>
			</div>
		</div>
	</lightning-card>
</template>
