<template>
    <lightning-card>
		<lightning-button variant="brand" label="Activate Order" title="Primary action" onclick={activateOrder} class="slds-m-left_x-small"></lightning-button>
		<div class="slds-scrollable tableCustom">
			<div class="slds-m-top_medium slds-m-bottom_x-large">	
				<!-- Simple -->
				<div class="slds-p-around_medium lgc-bg">
					<lightning-tree-grid
						class = "lgc-example-treegrid"
						columns={orderColumns}
						data={orderProducts}
						key-field="ProductCode"
						onrowselection={getSelectedRows}
						hide-checkbox-column = true
					></lightning-tree-grid>
				</div>
			</div>
		</div>
	</lightning-card>
</template>